.fr-text--xs { font-size: var(--text-xs); }
.fr-text--sm { font-size: var(--text-sm); }
.fr-text--md { font-size: var(--text-md); }
.fr-text--lg { font-size: var(--text-lg); }
.fr-text--xl { font-size: var(--text-xl); }
.fr-text--bold { font-weight: var(--font-weight-bold); }
.fr-text--alt { font-family: var(--font-family-serif); }
.fr-text--mention { color: var(--text-mention-grey); }
.fr-text--title { color: var(--text-title-grey); }
.fr-text--action-high-blue-france { color: var(--text-action-high-blue-france); }
.fr-background-default--grey { background: var(--background-default-grey); }
.fr-background-alt--grey { background: var(--background-alt-grey); }
.fr-background-alt--blue-france { background: var(--background-alt-blue-france); }
.fr-background-alt--red-marianne { background: var(--background-alt-red-marianne); }
.fr-m-0 { margin: 0; }
.fr-mt-2v { margin-block-start: var(--space-2v); }
.fr-mt-4v { margin-block-start: var(--space-4v); }
.fr-mt-6v { margin-block-start: var(--space-6v); }
.fr-mb-0 { margin-block-end: 0; }
.fr-mb-2v { margin-block-end: var(--space-2v); }
.fr-mb-4v { margin-block-end: var(--space-4v); }
.fr-mb-6v { margin-block-end: var(--space-6v); }
.fr-p-2v { padding: var(--space-2v); }
.fr-p-4v { padding: var(--space-4v); }
.fr-p-6v { padding: var(--space-6v); }
.fr-py-4v { padding-block: var(--space-4v); }
.fr-py-6v { padding-block: var(--space-6v); }
.fr-py-8v { padding-block: var(--space-8v); }
